/*common style*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    
    
}
.head{
    background-color: rgba(229, 84, 115, 0.1);
    width: 1920px;
    height: 850px;

}
/*nav section start here*/
nav {
    display: flex;
    justify-content:center;
    list-style: none;
    margin-right: 50px;
    position: sticky;
}
.nav-item{
    display: flex;
    gap: 25px;
    font-weight: 200px;
    font-size: 25px;
    padding-top: 18px;
    text-align: center;
    font-style: bold;
}
.item:hover{
    cursor:pointer;
    color: #ec6c88;
    transition: 0.2s;
}
/*nav section end here*/

/*banner section start here*/
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
}

/*banner main-title start here*/
.banner-main-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}
/*banner main-title end here*/
/*banner text start here*/
.banner-text{
    display: flex;
    width: 634px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*banner text end here*/
/*banner image start here*/
.banner-img{
    width: 635px;
    height: 800px;
    
}
/*banner image end here*/
/*btn start here*/
.btn{
    color: #FFF;
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    
    
}
.btn:hover{
    cursor: pointer;
    background-color: #ec6c88;
    color: #070707;
}
/*btn end here*/
/*banner section end here*/
/*main section start here*/
/* deal section start here*/
.deal-info{
    width: 1922px;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
   }
.deal-img{
    width: 318px;
    height: 420px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.deal-title{
    font-size: 40px;
    color: #272727;
    padding-bottom: 24px;
}
.deal-text{
    padding-bottom: 32px;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    
    font-size: 18px;
}
.deal-box{
    text-align: center;
}
.d-off{
    color: #E55473;
}
/* deal section end here*/
/* social section start here*/
.social-discription{
    text-align: center;
}
.social-name{
    color: #272727;
    font-size: 40px;
}
.social-text{
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 48px;
}
.social-img-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 128px;
}
.social-img-card:hover{
    cursor: pointer;
}

/* social section end here*/

/*main section end here*/
